[Desktop Entry]
Encoding=UTF-8
Name=Link to Chrome Web Store developer documentation
Type=Link
URL=https://developer.chrome.com/webstore
Icon=text-html
